# Explore here

In [1]:
import pandas as pd

total_data = pd.read_csv("../data/raw/fake.csv")
total_data

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year‚Äô...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama‚Äôs Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‚ÄòSafe Zone‚Äô Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [2]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [3]:
total_data.shape

(23481, 4)

In [4]:
total_data.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [5]:

print("Total missing values for each column:")
print(total_data.isnull().sum(axis=0))

Total missing values for each column:
title      0
text       0
subject    0
date       0
dtype: int64

In [6]:

print(f"Dimensions before dropping duplicates: {total_data.shape}")

total_data = total_data.drop_duplicates()

print(f"Dimensions after dropping duplicates: {total_data.shape}")

Dimensions before dropping duplicates: (23481, 4)
Dimensions after dropping duplicates: (23478, 4)

In [7]:
# columns_to_remove = [""]

# for column in columns_to_remove:
#     try:
#         total_data = total_data.drop(column, axis=1)
#     except:
#         print(f"Column {column} was already removed.")

# total_data.head(5)

In [8]:
# total_data[''] = pd.factorize(total_data[''])[0]
# total_data[''] = pd.factorize(total_data[''])[0]
# total_data[''] = pd.factorize(total_data[''])[0]

# total_data.head()

In [9]:
X = total_data[['']]

y = total_data['']

KeyError: "None of [Index([''], dtype='object')] are in the [columns]"

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
X_train

In [ ]:
y_train

üìù Instructions

Step 1: Train a new model or choose the one from the previous project.

In the Deployment with Flask module we search for a dataset and train a model that we later use in a web application developed in Flask and deploy in Render. In this project you can use the same model and change only the web application, or find another dataset and train a new model.

Step 2: Develop a web application using Streamlit

With the knowledge acquired in this module, develop an interface to be able to use the model. Style it as you see fit and note any external resources you have used for development.

Step 3: Integrate the model and the application in Render

Create a free service in Render and integrate the work you have done to be able to deploy the web application online. Don't forget to include the link to the service in your repository.